@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

 
*{
    margin: 0; 
    padding: 0;
}


main{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; 
    width: 940px;
}

form {
    margin: 40px 0;
}   

form label{
      display: block; 
      font-size: 20px; 
      margin: 0 0 10px;
} 

form input{
    display: block; 
    margin: 0 0 20px; 
    padding: 10px 25px; 
    width: 50%;
}























@media (min-width: 1024px){
   
   .formulario{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5rem;

   } 

.formulario button{
    width: 30%;
    margin-left: 35%;
    transition: all .4s;
    box-shadow:  -3px -3px 7px #ffffff73,   3px 3px 5px rgba(94, 104, 121, .288);

}
.formulario button:hover{
    transform: scale(1.1, 1.1);
}

}  

/* <---- rodape ----> */  

footer{ 
	background: blanchedalmond; 
	text-align: center; 
	color: #1e1e1e; 
} 

.copyright{
	font-size: 13px;
	margin: 20px 0 0;
}